html.light-theme .asset {
  --asset-icon-wrapper-bg-color: rgba(0, 0, 0, 0.2);
  --asset-icon-wrapper-active-border-color: var(--body-color, #000);
}

html.dark-theme .asset {
  --asset-icon-wrapper-bg-color: rgba(255, 255, 255, 0.2);
  --asset-icon-wrapper-active-border-color: var(--body-color, #fff);
}

.asset {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}

.assets-title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
}

.assets-list {
  margin: -10px -15px;
  display: flex;
  flex-direction: row;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: var(--asset-icon-wrapper-bg-color);
  border-radius: 50px;
  margin: 0 auto 10px;
  padding: 13px;
  border: 1px solid var(--asset-icon-wrapper-bg-color);
}

.asset-icon {
  font-size: 32px;
}

.asset-title {
  font-weight: 600;
}

.asset.active .icon-wrapper {
  border: 1px solid var(--asset-icon-wrapper-active-border-color);
}

@keyframes asset-content-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.asset-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  transform: translateX(0%);
  background-color: var(--body-bg);
  will-change: transform;
}

.asset-container.inactive {
  position: absolute;
  transform: translateX(0%);
  z-index: 1;
}

.asset-container.active {
  position: relative;
  transform: translateX(0);
  z-index: 2;
  animation: asset-content-in 0.75s linear;
}

@media screen and (min-width: 768px) {
  .assets-list {
    flex-direction: column;
  }
}

