.main-header {
  background-color: var(--body-color);
  color: var(--body-bg);
  padding: 15px 0;
  transition: all 0.5s ease-in-out;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
}

.header-right-items {
  display: flex;
  align-items: center;
}

#switchThemeButton {
  background-color: transparent;
  border: none;
  padding: 3px;
  margin-right: 50px;
}

#switchThemeButton .icon {
  display: none;
}

html.light-theme #switchThemeButton .icon.light {
  display: initial;
}

html.dark-theme #switchThemeButton .icon.dark {
  display: initial;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 20px 0;
  }

  .profile-image {
    height: 50px;
    width: 50px;
  }

  .brand-name {
    font-size: 30px;
  }
}
