/* Theming variables */
html.light-theme .transaction {
  --transaction-action-color: #4b4b4b;
  --transaction-date-color: #4b4b4b;
  --transaction-from-color: #545454;
}

html.dark-theme .transaction {
  --transaction-action-color: #4b4b4b;
  --transaction-date-color: #4b4b4b;
  --transaction-from-color: #545454;
}

.transaction {
  display: flex;
}

.transactions-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.transactions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction-action {
  color: var(--transaction-action-color);
}

.transaction-balance {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}

.transaction-date {
  color: var(--transaction-date-color);
}

.transaction-from {
  color: var(--transaction-from-color);
}

.transaction-button-icon {
  font-size: 20px;
  padding: 9px;
}
